<%- errorMessagesFor(temperature) %>
<div class="control-group">
   <%- form.label("value", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("value") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("readingOn", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("readingOn") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("timestamp", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("timestamp") %>
   </div>
</div>
