<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.temperatures() %>">temperatures</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit temperature</a></li>
</ul>

<div class="page-header">
    <h1>Edit temperature</h1>
</div>

<% var form = formFor(temperature, {action: pathTo.temperature(temperature), method: 'PUT', id: "temperature-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update temperature', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.temperature(temperature), {class: 'btn'}) %>
</div>
<%- form.end() %>
